{% extends 'new_category.html' %}

{% block item_title_text %}Редактировать подборку{% endblock %}
{% block item_heading %}Редактировать подборку{% endblock %}
{% block item_action %}/categories/edit{% endblock %}

{% block hidden_fields %}
<input type="hidden" name="category_id" value="{{ category.id }}">
{% endblock %}

{% block val_name %}{{ category.name }}{% endblock %}
{% block val_description %}{{ category.description }}{% endblock %}

{% block card_preselected_inputs %}
  {% for card in all_cards %}
    {% if card.id in current_card_ids %}
    <input type="hidden" name="card_ids[]" value="{{ card.id }}"
           data-preselected="true"
           data-text="{{ card.front_content|truncate(80)|e if card.front_type == 'text' else card.answer_text|truncate(80)|e }}"
           data-is-image="{{ '1' if card.front_type == 'image' else '' }}">
    {% endif %}
  {% endfor %}
{% endblock %}
